@mixin round-img-box($box-square: 12rem, $img-width: 170%) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $box-square;
    height: $box-square;
    border-radius: 50%;
    overflow: hidden;
    &>img {
        width: $img-width;
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERY MANAGER

0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: normal style
1800px+: big desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint==tab-port {
        // @media only screen and (max-width: 56.25em) {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}
