.small-word {
    font-size: 70%;
}

.section-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 6.5rem;
    margin-bottom: 8rem;
    font-size: 3.2rem;
    text-transform: uppercase;
    &::after {
        display: block;
        height: 3px;
        width: 4rem;
        background-color: $color-primary;
        content: '';
    }
    &--white {
        color: white;
        letter-spacing: 2px;
    }
}

.btn {
    &,
    &:link,
    &:visited {
        display: block;
        position: relative;
        z-index: 0;
        padding: 1.5rem 3rem;
        border: 3px solid white;
        border-radius: 1px;
        box-shadow: 0 2px 8px 0 rgba(black, 0.2);
        background-color: transparent;
        color: white;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s;
    }
    &:hover {
        border: 3px solid $color-primary-dark;
        box-shadow: 0 3px 12px 0 rgba(black, 0.2);
        color: white;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 1px 4px 0 rgba(black, 0.2);
        transform: translateY(1px);
    }
    &::after,
    &:link::after,
    &:visited::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        background-color: $color-primary-dark;
        transition: transform 0.2s;
        content: '';
    }
    &:hover::after,
    &:active::after {
        transform: scaleX(1);
    }
    &--small {
        padding: 1rem 2rem;
    }
    &--filled {
        background-color: $color-primary-dark;
        border: 3px solid $color-primary-dark;
        &:hover {
            box-shadow: 0 2px 8px 0 rgba(black, 0.2);
            transform: translateY(0);
        }
    }
}

.square-arrow-up {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: $z-highest;
    border: 1px solid $color-primary-dark;
    box-shadow: 0 1px 4px 0 rgba(black, 0.1);
    background-color: transparent;
    transition: all 0.2s;
    &::after {
        display: block;
        position: absolute;
        bottom: 50%;
        right: 50%;
        width: 10px;
        height: 1px;
        background-color: $color-primary-dark;
        transform: rotate(-45deg) translateY(2px);
        content: '';
    }
    &::before {
        display: block;
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background-color: $color-primary-dark;
        transform: rotate(45deg) translateY(2px);
        content: '';
    }
    &:hover {
        background-color: $color-primary-dark;
        transform: translateY(-2px);
        &::after {
            background-color: white;
        }
        &::before {
            background-color: white;
        }
    }
    &:active {
        transform: translateY(1px);
    }
}

@mixin makePie( $percentage, $anime-half-duration, $font-size, $outer-radius, $inner-radius, $fg-color, $bg-color) {
    position: relative;
    width: $outer-radius * 2;
    height: $outer-radius * 2;
    .pie__right {
        position: absolute;
        right: 0;
        width: $outer-radius;
        height: $outer-radius * 2;
        overflow: hidden;
        &::before {
            display: block;
            position: absolute;
            right: 0;
            width: $outer-radius * 2;
            height: $outer-radius * 2;
            border-radius: 50%;
            background-image: linear-gradient( to right, $fg-color 50%, transparent 50%);
            @include rotate-right-pie($percentage, $anime-half-duration);
            animation-fill-mode: forwards;
            content: '';
        }
    }
    .pie__left {
        visibility: hidden;
        position: absolute;
        left: 0;
        width: $outer-radius;
        height: $outer-radius * 2;
        overflow: hidden;
        &::before {
            display: block;
            position: absolute;
            left: 0;
            width: $outer-radius * 2;
            height: $outer-radius * 2;
            border-radius: 50%;
            background-image: linear-gradient( to right, transparent 50%, $fg-color 50%);
            @include rotate-left-pie($percentage, $anime-half-duration);
            animation-fill-mode: forwards;
            content: '';
        }
    }
    .pie__center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: $outer-radius;
        left: $outer-radius;
        width: $inner-radius * 2;
        height: $inner-radius * 2;
        border-radius: 50%;
        background-color: $bg-color;
        transform: translate(-50%, -50%);
        &::before {
            display: block;
            font-size: $font-size;
            font-weight: 700;
            opacity: 0;
            animation: fadeIn $anime-half-duration;
            animation-delay: $anime-half-duration;
            animation-fill-mode: forwards;
            content: '#{$percentage}%';
        }
    }
}

@mixin rotate-right-pie($percentage, $half-duration) {
    @keyframes rotate-right-pie-#{$percentage} {
        0% {
            transform: rotate(0);
        }
        100% {
            @if $percentage>50 {
                transform: rotate(180deg);
            }
            @else {
                transform: rotate(($percentage/ 50) * 180deg);
            }
        }
    }
    animation: rotate-right-pie-#{$percentage} $half-duration ease-in;
}

@mixin rotate-left-pie($percentage, $half-duration) {
    @keyframes rotate-left-pie-#{$percentage} {
        0% {
            @if $percentage>50 {
                transform: rotate(0);
            }
        }
        100% {
            @if $percentage>50 {
                visibility: visible; // animationできない
                transform: rotate(($percentage - 50)/50 * 180deg);
            }
        }
    }
    animation: rotate-left-pie-#{$percentage} $half-duration ease-out $half-duration;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    // display: none;
    &__outer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $z-highest;
        width: 100vw;
        height: 100vh;
        background-color: rgba(black, .7);
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        height: 60%;
        padding: 8rem 0;
        background-color: white;
    }
    &__contents {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    &__confirmation {
        font-size: 1.4rem;
    }
    &__btns {
        margin-bottom: 1rem;
    }
    &__btn {
        margin: 0 .5rem;
        padding: 1rem 3rem;
        border: 3px solid $color-primary;
        outline: none;
        &--submit {
            background-color: $color-primary;
            color: white;
            cursor: pointer;
            &:hover {
                border: 3px solid $color-primary-dark;
                background-color: $color-primary-dark;
            }
        }
        &--cancel {
            background-color: white;
            color: $color-primary-dark;
            cursor: pointer;
            &:hover,
            &:active {
                border: 3px solid $color-primary-dark;
                background-color: $color-primary-dark;
                color: white;
            }
        }
    }
}
