$color-white: #fff;
$color-black: #000;
$color-gray-1: #222;
$color-gray-2: #666;
$color-gray-3: #aaa;
$color-gray-4: #eee;
$color-primary: #34C6D3;
$color-primary-dark: #29b0bc;
$color-primary-light-1: #7adae2;
$color-primary-light-2: #a4e5eb;
$color-secondary: #41464B;
$color-tertiary: #64707B;
