html {
    font-size: 62.5%;
    scroll-behavior: smooth; // chromeとfirefoxだけだけどなくても困らないので使う
}

body {
    font-size: 1.5rem;
    line-height: 150%;
    font-family: 'Roboto Condensed', 'Noto Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    @include respond(phone) {
        font-size: 1.3rem;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}
